client-only(placeholder="Loading...")
    //- <svg width="147" height="130" viewBox="0 0 147 130" fill="none" xmlns="http://www.w3.org/2000/svg">
    //-     <rect width="146" height="130" id='rect' fill="white"/>
    //-     <path d="M106.033 21.2023C119.433 28.7023 138.633 30.4023 144.233 38.6023C149.833 46.9023 141.633 61.6023 135.333 75.6023C128.933 89.7023 124.333 102.902 114.933 113.202C105.633 123.602 91.533 130.902 78.333 129.702C65.133 128.602 52.833 118.902 39.533 109.902C26.233 100.802 12.133 92.5023 5.03302 79.6023C-2.06698 66.8023 -1.96697 49.6023 7.33303 39.9023C16.633 30.1023 35.333 27.9023 48.533 20.3023C61.833 12.7023 69.633 -0.197702 77.333 0.00229833C85.033 0.202298 92.633 13.7023 106.033 21.2023Z" fill="white"/>
    //- </svg>
    <svg  id='bobbles' xmlns="http://www.w3.org/2000/svg">
        //- <path id='bobbleModel' d="M-23 -18C166.638 -18 404.585 -17.9999 625.203 -17.9998C674.913 27.7985 869.687 -17.9999 911.793 71.1163C932.567 115.085 912.663 167.404 866.086 201.555C819.328 235.143 746.69 250.435 701.813 300.283C657.909 350.566 766.321 398.107 708.001 442.438C650.654 487.203 524.994 431.141 443.437 465.973C374.718 495.322 451.994 582.03 404.586 615.188C330.581 666.947 199.491 493.854 -23 560.17C-23 465.973 -23 71.1163 -23 -18Z" fill="#641535"/>
        //- <path id='bobbleModel' d="M-3.00006 -4.1749C134.333 -4.17489 136.667 -4.17497 274 -4.1749C316.317 -4.17488 413.5 3.99993 419 54.5C419 134.5 358.819 121.937 358.5 169.5C358.834 217.069 484.767 267.696 475.635 315.5C467.157 363.31 387.703 356.327 390.5 431C392.123 474.349 435.634 479.744 430.16 520.15C423.1 572.253 364.963 549.947 344 592.5C330.94 619.011 351.352 663.117 336 687.5C325.263 704.553 303.639 716.186 274 722C227 722 -3.00006 722 -3.00006 722L-3.00006 -4.1749Z" fill="#641535"/>

        //- <path id='bobbleModel' d="M-0.76228 -14.6899C10.5665 -32.5573 28.776 -30.5764 42.6424 -21.7844C56.5089 -12.9924 62.9579 22.1467 51.6291 40.0141C40.3003 57.8815 15.6607 47.049 1.79424 38.257C-12.0722 29.465 -12.0911 3.17748 -0.76228 -14.6899Z" fill="#FF0066"/>

        <path id='bobbleModel' fill="#FF0066" d="M43.5,-73.4C54.3,-69.1,59.4,-53.2,65.4,-39C71.4,-24.9,78.2,-12.4,79.2,0.5C80.1,13.5,75.1,27,67.2,37.8C59.2,48.6,48.4,56.8,36.7,62.7C25,68.6,12.5,72.2,-2,75.7C-16.5,79.2,-33,82.5,-47.2,78.1C-61.4,73.6,-73.3,61.4,-79.5,47.1C-85.6,32.8,-86,16.4,-85,0.6C-84,-15.2,-81.6,-30.5,-72.9,-40.4C-64.2,-50.2,-49.2,-54.7,-36,-57.6C-22.8,-60.4,-11.4,-61.6,2.5,-65.9C16.4,-70.2,32.7,-77.6,43.5,-73.4Z" />
        <g id='stages'>
            <path id='stage-1' d="M-93.4435 232.128C-78.9175 172.656 -24.0323 -2.21992 0.967828 -86.6262C83.6772 -62.1287 287.48 -106.689 361.435 20.1399C379.093 50.4226 414.715 82.1721 393.355 104.037C371.898 126.229 312.639 129.732 283.645 171.46C255.151 212.979 257.421 292.515 224.639 326.341C191.954 359.838 124.716 347.417 59.5192 328.107C-5.67777 308.796 -84.6761 277.904 -93.4435 232.128Z" fill="#AF0046"/>
            <path id='stage-2' d="M-23 -18C166.638 -18 404.585 -17.9999 625.203 -17.9998C674.913 27.7985 869.687 -17.9999 911.793 71.1163C932.567 115.085 912.663 167.404 866.086 201.555C819.328 235.143 746.69 250.435 701.813 300.283C657.909 350.566 766.321 398.107 708.001 442.438C650.654 487.203 524.994 431.141 443.437 465.973C374.718 495.322 451.994 582.03 404.586 615.188C330.581 666.947 199.491 493.854 -23 560.17C-23 465.973 -23 71.1163 -23 -18Z" fill="#641535"/>
            //- <path id='stage-1' fill="#FF0066" d="M36.8,-62C48.4,-57,59.2,-48.7,68.6,-37.8C78,-27,86,-13.5,83.8,-1.3C81.6,10.9,69.2,21.9,59.4,32C49.6,42.2,42.4,51.5,32.9,59C23.4,66.4,11.7,71.9,-1.1,73.8C-13.8,75.6,-27.7,73.7,-40.3,68.1C-52.9,62.5,-64.3,53.1,-67.8,41.1C-71.3,29.1,-67,14.6,-68.8,-1C-70.5,-16.6,-78.4,-33.2,-76.3,-47.6C-74.1,-62,-62,-74.2,-47.6,-77.6C-33.2,-81.1,-16.6,-75.8,-2,-72.3C12.6,-68.7,25.1,-67,36.8,-62Z" />
            //- <path id='stage-2' fill="#FF0066" d="M41.3,-70.5C53.5,-64.5,63.2,-53.3,68.2,-40.7C73.2,-28.1,73.5,-14,74.3,0.5C75.1,15,76.4,29.9,71.8,43.2C67.2,56.4,56.5,68,43.6,74.3C30.6,80.6,15.3,81.7,1.3,79.4C-12.7,77.2,-25.5,71.7,-38.2,65.3C-51,58.8,-63.7,51.5,-69.8,40.5C-75.8,29.4,-75.1,14.7,-72.4,1.6C-69.7,-11.6,-65,-23.2,-60.7,-37.4C-56.5,-51.5,-52.8,-68.3,-42.8,-75.5C-32.8,-82.7,-16.4,-80.3,-0.9,-78.7C14.6,-77.1,29.2,-76.5,41.3,-70.5Z" />
            <path id='stage-3' d='M 0 0 L 200 0 L 200 200 L 0 200 Z' fill="white"/>
        </g>
    </svg>

    //- <svg width="1266" height="720" viewBox="0 0 1266 720" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0)">
            <path d="M-23 -18C166.638 -18 404.585 -17.9999 625.203 -17.9998C674.913 27.7985 869.687 -17.9999 911.793 71.1163C932.567 115.085 912.663 167.404 866.086 201.555C819.328 235.143 746.69 250.435 701.813 300.283C657.909 350.566 766.321 398.107 708.001 442.438C650.654 487.203 524.994 431.141 443.437 465.973C374.718 495.322 451.994 582.03 404.586 615.188C330.581 666.947 199.491 493.854 -23 560.17C-23 465.973 -23 71.1163 -23 -18Z" fill="#641535"/>
            <path d="M-93.4435 232.128C-78.9175 172.656 -24.0323 -2.21992 0.967828 -86.6262C83.6772 -62.1287 287.48 -106.689 361.435 20.1399C379.093 50.4226 414.715 82.1721 393.355 104.037C371.898 126.229 312.639 129.732 283.645 171.46C255.151 212.979 257.421 292.515 224.639 326.341C191.954 359.838 124.716 347.417 59.5192 328.107C-5.67777 308.796 -84.6761 277.904 -93.4435 232.128Z" fill="#AF0046"/>
            <path d="M-0.76228 -14.6899C10.5665 -32.5573 28.776 -30.5764 42.6424 -21.7844C56.5089 -12.9924 62.9579 22.1467 51.6291 40.0141C40.3003 57.8815 15.6607 47.049 1.79424 38.257C-12.0722 29.465 -12.0911 3.17748 -0.76228 -14.6899Z" fill="#FF0066"/>
        </g>
    //- </svg>
