.menu
    visibility: hidden
    &.active
        visibility: visible
    ul
        display: inline-block
        z-index: 21
        position: relative
        li
            margin: 0 1em
            display: inline-block
            list-style-type: none
.menuIcon
    z-index: 21
    position: relative
    svg
        float: right
.menuBlur
    width: 100vw
    height: 100vh
    opacity: 0
    backdrop-filter: blur(10px)
    z-index: 20
    position: fixed
    top: 0
    left: 0
// ul
//     position: absolute
//     top: 10vh
//     left: 10vw
//     li
//         margin-top: 5vh
//         list-style-type: none
//         > *
//             letter-spacing: .8rem !important
//         &:hover *
//             color: white !important
