// modules
@use "sass:math"
// style
*
    color: $secondary
    font-family: $secondary_font_family
    user-select: none
    cursor: none
    // z-index: 100
// 
#bobbles
    width: 100vw
    height: 100vh
    z-index: 0
    position: fixed
    top: 0
    left: 0
    // > [id^='bobble-']
    //     transform: scale(0)
[id^='stage-'], #bobbleModel
    visibility: hidden
// background noise
#noise
    width: 100vw
    height: 100vh
    background-image: url('http://localhost:3000/imgs/noise.png')
    background-repeat: repeat
    pointer-events: none
    // opacity: .7
    z-index: 1
    position: fixed
    &.menu-active
        z-index: 6

// curser
$D: 40px
$color: white
$mini: 0.15
$crossWidth: 3px
#outerCurser
    width: $D
    height: $D
    border: 3px solid $color
    // background: $color
    border-radius: 50%
    box-sizing: border-box
    pointer-events: none
    opacity: 1
    mix-blend-mode: difference
    z-index: 15
    position: fixed
    &.cross
        background: transparent
        border: none
        ~ #curser
            opacity: 0
        &::before, &::after
            content: ''
            width: 100%
            height: $crossWidth
            background: #fff
            border-radius: math.div($D, 2)
            transform: rotate(45deg)
            position: absolute
            top: calc(50% - #{math.div($crossWidth , 2)})
        &::after
            transform: rotate(-45deg)
#curser
    width: $D * $mini
    height: $D * $mini
    background: $color
    border-radius: 50%
    mix-blend-mode: difference
    pointer-events: none
    z-index: 15
    position: fixed
// application
.v-application
    background: #e9e9e9 !important
    position: relative
// 
[id^='ascrail']
    padding-right: 5px
    z-index: 100 !important
.Slide
    height: 100vh
    overflow: hidden
.tags
    .tag
        width: 20px
        height: 2px
        border-radius: 5px
        background: red
        position: fixed
        top: 0
        right: 5px
